@import url("http://fonts.cdnfonts.com/css/harry-potter");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
* {
  padding: 0;
  margin: 0;
}

.logo {
  width: 80px;
  height: 50px;
}

main {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

h1 {
  font-family: "Harry Potter", sans-serif;
  font-size: 80px;
  color: black;
  text-align: center;
  padding: 50px 0px 20px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-size: 15px;
}
@media (min-width: 1024px) {
  a {
    font-size: 30px;
  }
}

footer {
  background-color: rgb(10, 0, 70);
}
footer .pie {
  font-family: "Inter Tight", sans-serif;
  padding: 20px;
  text-align: center;
  color: white;
}

.imgComedor {
  grid-area: imgComedor;
}

.infoEscuelas {
  grid-area: infoComedor;
}

.titulo-H {
  grid-area: tituloH;
}

.grid-escuelas, .grid-escuelas-D, .grid-escuelas-B, .grid-escuelas-H {
  margin: 50px 100px 0px 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
}
@media (min-width: 1024px) {
  .grid-escuelas, .grid-escuelas-D, .grid-escuelas-B, .grid-escuelas-H {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
  }
}

.grid-escuelas-H {
  grid-template-areas: "tituloH" "imgComedor" "infoComedor";
  border: solid 2px rgb(70, 0, 0);
  border-radius: 30px 0px 30px 0px;
  background-color: rgb(70, 0, 0);
}
@media (min-width: 1024px) {
  .grid-escuelas-H {
    grid-template-areas: "tituloH tituloH" "imgComedor infoComedor";
  }
}

.imgEscuelas {
  width: 400px;
  height: 200px;
  margin: 20px;
  justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.titulo {
  padding: 20px;
  color: white;
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
}

.titulo-H {
  text-align: left;
}

p {
  padding: 20px;
  color: white;
  font-size: 14px;
  font-family: "Shadows Into Light", cursive;
}

.imgB {
  grid-area: imgB;
}

.infoB {
  grid-area: infoB;
}

.titulo-B {
  grid-area: tituloB;
}

.grid-escuelas-B {
  grid-template-areas: "tituloB" "infoB" "imgB";
  border: solid 2px rgb(113, 52, 194);
  border-radius: 0px 30px 0px 30px;
  background-color: rgb(113, 52, 194);
}
@media (min-width: 1024px) {
  .grid-escuelas-B {
    grid-template-areas: "tituloB tituloB" "infoB imgB";
  }
}

.titulo-B {
  text-align: right;
}

.imgD {
  grid-area: imgD;
}

.infoD {
  grid-area: infoD;
}

.titulo-D {
  grid-area: tituloD;
}

.grid-escuelas-D {
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "tituloD" "imgD" "infoD";
  border: solid 2px rgb(87, 84, 71);
  border-radius: 30px 0px 30px 0px;
  background-color: rgb(87, 84, 71);
}
@media (min-width: 1024px) {
  .grid-escuelas-D {
    grid-template-areas: "tituloD tituloD" "imgD infoD";
  }
}

.info {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  color: #111;
  text-align: left;
  align-self: center;
}

.gridPadre {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  gap: 1em;
  justify-items: center;
  padding: 50px;
}
@media (min-width: 1024px) {
  .gridPadre {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.casas {
  padding: 20px;
  border: solid 2px #111;
  border-radius: 10px 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 400px;
  height: 450px;
}
@media (min-width: 1024px) {
  .casas {
    width: 500px;
    height: 400px;
    border-radius: 10px 20px;
  }
}
.casas p {
  color: #111;
}

.imgCasas {
  padding: 10px;
  align-self: center;
  justify-self: stretch;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .imgCasas {
    width: 100%;
  }
}

.patronus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  justify-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.patronus .animal {
  padding: 10px;
  border: double 2px #111;
}
.patronus h3 {
  padding: 10px;
  font-family: "Alkalami", serif;
  font-size: 30px;
  color: #111;
  text-align: center;
}
.patronus p {
  color: black;
}
@media (min-width: 1024px) {
  .patronus {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

.imgA {
  width: 200px;
  height: 200px;
}

.form {
  padding: 50px 100px 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form .formulario {
  grid-area: formulario;
}
.form .imgF {
  grid-area: imgF;
}
.form img {
  padding: 10px;
  width: 350px;
  height: 500px;
}
.form .formulario {
  color: white;
  font-size: 14px;
  font-family: "Shadows Into Light", cursive;
  padding: 40px;
  width: 600px;
  height: 500px;
  border-radius: 20px;
  background-color: rgb(70, 0, 0);
}
.form .formulario .comentario {
  padding: 20px 20px 50px 20px;
  color: white;
  font-size: 14px;
  font-family: "Shadows Into Light", cursive;
}

/* Mobile firts  0px - 500px */
.body {
  font-family: "Shadows Into Light", cursive;
}

.barra {
  position: -webkit-sticky;
  position: sticky;
  background-color: rgb(19, 7, 87);
}

.arriba {
  background-image: url(../img/Fondoindex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.espacio {
  padding: 200px 0px 200px 0px;
}

.parrafoInicio {
  padding: 50px;
  align-content: center;
}

@media (min-width: 1024px) {
  .barra {
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(19, 7, 87);
    align-items: right;
  }
  .arriba {
    background-image: url(../img/Hogwarts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parrafoInicio {
    padding: 50px 200px 0px 200px;
    align-content: center;
  }
}/*# sourceMappingURL=estilos.css.map */