.imgComedor{
    grid-area: imgComedor;
}

.infoEscuelas{
    grid-area: infoComedor;
}
.titulo-H{
    grid-area: tituloH;
}


.grid-escuelas{
    margin: 50px 100px 0px 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;

    @media (min-width: 1024px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr;
    }
}


.grid-escuelas-H{
    @extend .grid-escuelas;
    grid-template-areas: 
    "tituloH"
    "imgComedor"
    "infoComedor";
    border: solid 2px rgba(70, 0, 0);
    border-radius: 30px 0px 30px 0px;
    background-color: rgba(70, 0, 0);
    
    @media (min-width: 1024px) {
        grid-template-areas: 
        "tituloH tituloH"
        "imgComedor infoComedor";
    }
}

.imgEscuelas{
    margin: 20px;
    justify-self: center;
    object-fit: cover;
    @media (max-width: 620px) {
        width: 200px;
        height: 100px;
    }
    
    @media (min-width: 620px) {
        width: 400px;
        height: 200px;
    }
    
}

.titulo{
    padding: 20px;
    @include text-titulos;

    @media (max-width: 620px){
        font-size: 20px;
    }

}

.titulo-H{
    text-align: left;
}

p{
    padding: 20px;
    @include text-blanco;
}

.imgB{
    grid-area: imgB;
}

.infoB{
    grid-area: infoB;
}

.titulo-B{
    grid-area: tituloB;
}

.grid-escuelas-B{
    @extend .grid-escuelas;
    grid-template-areas: 
    "tituloB"
    "infoB"
    "imgB";
    border: solid 2px rgb(113, 52, 194);
    border-radius: 0px 30px 0px 30px;
    background-color: rgb(113, 52, 194);
    
    @media (min-width: 1024px) {
        grid-template-areas: 
        "tituloB tituloB"
        "infoB imgB";
    }

}

.titulo-B{
    text-align: right;
}

.imgD{
    grid-area: imgD;
}

.infoD{
    grid-area: infoD;
}

.titulo-D{
    grid-area: tituloD;
}

.grid-escuelas-D{
    @extend .grid-escuelas;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "tituloD"
    "imgD"
    "infoD";
    border: solid 2px rgb(87, 84, 71);
    border-radius: 30px 0px 30px 0px;
    background-color: rgb(87, 84, 71);
    
    @media (min-width: 1024px) {
        grid-template-areas: 
        "tituloD tituloD"
        "imgD infoD";
    }

}

