@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

.patronus{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: 2em;
    justify-items: center;
    object-fit: cover;
    
    .animal{
        padding: 10px;
        border: 2px dashed #111;
    }
    
    h3{
        padding: 10px;
        font-family: 'Alkalami', serif;
        font-size: 30px;
        color: #111;
        text-align: center;
    }

    p{
        padding: 0px;
        color: black;
    }
    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    
}

.imgA{
    width: 200px;
    height: 200px;

}

.infoPatronus{

    p{
        padding:0px 150px 50px 150px;
        text-align: center;
        color: black;

        @media (max-width: 850px) {
            padding:0px 100px 50px 100px;
        }


    }
}